<section data-ng-controller="SprintsCreateUpdateController">

    <div class="modal-header">
        <h3 class="modal-title">Sprint</h3>
    </div>

    <div class="modal-body">
        <form name="updateSprintForm">
            <fieldset>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div data-ng-show="error" class="text-center text-danger">
                                <div class="alert alert-danger" role="alert">
                                    <strong data-ng-bind="error"></strong>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="sprintName">Title</label>
                            <div class="controls">
                                <input name="sprintName" type="text" data-ng-model="sprint.sprintName" id="sprintName" class="form-control" placeholder="Title" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="sprintDescription">Description</label>
                            <div class="controls">
                                <textarea name="sprintDescription" data-ng-model="sprint.sprintDescription" id="sprintDescription" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="sprintStartTime">Start Time</label>
                            <p class="input-group">
                                <input name="sprintStartTime" type="text" id="sprintStartTime" class="form-control" datepicker-popup="{{format}}" data-ng-model="sprint.sprintStartTime" is-open="openedStartDT" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openStartDT($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="sprintEndTime">End Time</label>
                            <p class="input-group">
                                <input name="sprintEndTime" type="text" id="sprintEndTime" class="form-control" datepicker-popup="{{format}}" data-ng-model="sprint.sprintEndTime" is-open="openedEndDT" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openEndDT($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="sprintFinished">Finished:</label>
                            <input type="checkbox" name="sprintFinished" data-ng-model="sprint.sprintFinished" id="sprintFinished"/>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="update(sprint); ok()" ng-disabled="updateSprintForm.$invalid">Update</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</section>
