<section data-ng-controller="SprintsCreateUpdateController">

    <div class="modal-header">
        <h3 class="modal-title">Sprint Review</h3>
    </div>

    <div class="modal-body">
        <form name="updateSprintForm">
            <fieldset>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label" for="notes">Notes</label>
                            <div class="controls">
                                <textarea name="notes" data-ng-model="sprint.sprintReviewMeeting.notes" id="notes" class="form-control" cols="30" rows="5" placeholder="Notes"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="sprintStartTime">Next Sprint Planning Date</label>
                            <p class="input-group">
                                <input name="sprintStartTime" type="text" id="sprintStartTime" class="form-control" datepicker-popup="{{format}}" data-ng-model="sprint.sprintReviewMeeting.sprintPlanningDate" is-open="openedStartDT" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openStartDT($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 text-center">
                                <label class="label label-success">Stories Finished</label>
                                <div ng-repeat="story in stories" ng-show="story.storyFinished">
                                    <p>{{story.storyTitle}}</p>
                                </div>
                            </div>
                            <div class="col-sm-6 text-center">
                                <label class="label label-danger">Stories Pending</label>
                                <div ng-repeat="story in stories" ng-hide="story.storyFinished">
                                    <p>{{story.storyTitle}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info" ng-click="update(sprint); ok()" ng-disabled="updateSprintForm.$invalid">Save</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</section>
