<section data-ng-controller="SprintsViewController">

    <!-- Sprint Backlog -->
    <div class="page-content-wrapper">
        <div class="col-md-3">
            <div class="panel panel-default" data-drop="true" ng-model="toggler">
                <h3 class="panel-heading panel-title">Sprint Backlog</h3>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-warning" ng-repeat="story in stories" ng-model="story">
                            <h5><span ng-click="edit(category.state, $index)">
                                {{story.storyTitle}}
                            </span>
                            <span class="pull-right">
                                <button type="button" class="close" ng-click="viewStory('', story)"><span class="btn-xs glyphicon glyphicon-eye-open"/></button>
                                <button type="button" class="close" ng-click="movePB(story)"><span class="btn-xs glyphicon glyphicon-arrow-left"/></button>
                            </span></h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="phase" ng-repeat="phase in phases | orderBy: 'position'">
            <div class="panel panel-default" data-drop="true" jqyoui-droppable="{onDrop: 'toggleState(phase)'}" ng-model="toggler">
                <h3 class="panel-heading panel-title">{{phase.phaseName}}</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group no-bot-padding">
                    <li ng-class="phase.class" class="list-group-item" ng-repeat="task in tasks | filter:{state:category.state, task:search}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable ng-model="task">
                        <span id="{{category.state}}_{{$index}}_text" ng-click="edit(category.state, $index)">
                            {{task.task}}
                        </span>
                        <input id="{{category.state}}_{{$index}}_input" class="hidden" type="text" ng-model="task.task" ng-keyup="inputHandler($event, category.state, $index)">
                        <span class="pull-right">
                            <button class="close dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-icons" role="menu">
                                <li><a href="#" ng-click="garbage(task)"><span class="glyphicon glyphicon-trash"></span></a></li>
                            </ul>
                        </span>
                    </li>
                </ul>
            </div>
            <!--    <div class="panel panel-default">

                <div class="panel-heading">
                    <div class="panel-title">
                        {{phase.phaseName}}
                        <div class="dropdown pull-right">
                            <a class="unlink" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Add Card&#8230;</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Copy List&#8230;</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Move List&#8230;</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Subscribe</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Archive This List</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="task panel-body">
                    <!-- new card form -->
                 <!--   <div class="panel panel-default clickable" ng-show="true">
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                    <textarea type="text" class="form-control" ng-model="newTask.description"></textarea>
                                </div>
                                <button type="submit" class="btn btn-success" ng-click="createTask()">Save</button>
                                <button type="reset" ng-click="hideNewTaskForm()" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
                            </form>
                        </div>
                    </div>
                    <!-- /new card form -->
          <!--      </div>

                <a ng-click="showNewTaskForm(phase._id)" ng-hide="newTask._id === phase._id">
                    <div class="panel-footer">
                        Add a task...
                    </div>
                </a>
            </div>
    -->
        </div>
        <div class="phase">
            <button class="btn btn-link" style="width: 100%;" ng-hide="creatingPhase == true" ng-click="creatingPhase = true;">Add a phase&hellip;</button>
            <div class="panel panel-default" ng-show="creatingPhase == true">
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="newphaseName" placeholder="Title&hellip;" required ng-model="phaseName">
                        </div>
                        <button type="submit" class="btn btn-success" ng-click="createPhase(phaseName); creatingPhase = false; phaseName = '';">Save</button>
                        <button type="reset" ng-click="creatingPhase = false" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>