<div class="modal-header">
    <h3 class="modal-title">Task</h3>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label" for="taskName">Title</label>
                <div class="controls">
                    <input name="taskName" type="text" data-ng-model="task.taskName" id="taskName" class="form-control" placeholder="Title" required readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="taskDescription">Description</label>
                <div class="controls">
                    <textarea name="taskDescription" data-ng-model="task.taskDescription" id="taskDescription" class="form-control" cols="30" rows="4" placeholder="Description" readonly></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="taskPriority">Priority</label>
                <div class="controls">
                    <select data-ng-model="task.taskPriority" ng-options="priority for priority in priorities" id="taskPriority" class="form-control" disabled></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="taskPoints">Task Points: </label>
                <div class="controls">
                    <input name="input" type="number" data-ng-model="task.taskPoints" id="taskPoints" class="form-control" min="0" max="100" required readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="taskRemark">Task Remarks: </label>
                <div class="controls">
                    <textarea name="taskRemark" data-ng-model="task.taskRemark" id="taskRemark" class="form-control" cols="30" rows="4" placeholder="Remarks" readonly></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="taskRuleValidation">Task Validations: </label>
                <div class="controls">
                    <textarea name="taskRuleValidation" data-ng-model="task.taskRuleValidation" id="taskRuleValidation" class="form-control" cols="30" rows="4" placeholder="Rule validations" readonly></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="ok()">Close</button>
</div>