<section data-ng-controller="StoriesController">

    <div class="containment-wrapper">
        <button ng-click="createNote()" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span></button>

        <div sticky-note ng-repeat="note in notes" note="note" class="alert alert-warning sticky-note" ondelete="deleteNote(id)">
            <button type="button" class="close" ng-click="deleteNote(note)"><span class="btn-xs glyphicon glyphicon-trash"></span></button>
            <input ng-model="note.storyTitle" ng-change="updateNote(note)" type="text" class="title" >
            <button type="button" class="close" ng-click="deleteNote(note.id)"><span class="btn-xs glyphicon glyphicon-cog"></span></button>
            <textarea ng-model="note.storyDescription" ng-change="updateNote(note)" class="body">{{note.storyDescription}}</textarea>
        </div>
    </div>

</section>