<section class="container" data-ng-controller="ProjectsController">
    <div class="page-header">
        <h1>Projects</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Search...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
    </br>
    <div class="list-group">
        <div class="col-xs-6 col-sm-3 extra-space" data-ng-repeat="project in projects | filter:searchText">
            <a class="list-group-item" data-ng-href="#!/projects/{{project._id}}">
                <div class="panel panel-default clickable">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{project.projectName}}
                            <span class="pull-right glyphicon glyphicon-tasks"></span>
                        </h3>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="alert alert-warning text-center" data-ng-if="projects.$resolved && !projects.length">
        No projects yet, why don't you <a href="/#!/projects/create">create one</a>?
    </div>
</section>