<section data-ng-controller="ProjectsViewController">
    <div class="row">

        <div class="col-md-6">
            <h3 data-ng-bind="project.projectName"></h3>
        </div>

        <div class="col-md-6">
            <h4>
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation"><a href="">Sprints</a></li>
                <li role="presentation"><a href="">User Stories</a></li>
                <li role="presentation"><a href="">Meetings</a></li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        Settings <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a role="menuitem" tabindex="-1" href="">View members</a></li>
                        <li><a role="menuitem" tabindex="-1" href="">Add members</a></li>
                        <li><a role="menuitem" ng-click="leave()">Leave project</a></li>

                    </ul>
                </li>
                <li role="presentation">
                    <a class="btn btn-lg" ng-click="modal('', project)">
                        <i popover="{{project.descriptionName}}" popover-placement="bottom" popover-title="Description" popover-trigger="mouseenter" class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </li>

            </ul>
                </h4>
        </div>
    </div>
</section>