<section data-ng-controller="ProjectsViewController as projectViCtrl">
    <div class="page-header">
        <div class="pull-right">
            <a class="btn btn-primary btn-group-xs" ng-click="projectViCtrl.modal('', projectViCtrl.project)">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
        </div>

        <i class="glyphicon glyphicon-remove-sign"></i>
        <h2 data-ng-bind="projectViCtrl.project.projectName"></h2>

    </div>

    <p class="lead" data-ng-bind="projectViCtrl.project.descriptionName"></p>

</section>