.phase {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.page-content-wrapper {
    white-space: nowrap;
    width: 100%;
    overflow-x: auto;
}

.task {
    background-color: #eee;
}

.clickable, .nav, .pagination, .carousel, .panel-title A, A {
    cursor: pointer;
}

.unlink, A.unlink {
    text-decoration: none !important;
    color: #080808;
}